<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="$project.url">
    <information>
        <title>$project.Name</title>
        <vendor>Nicolas Hoibian</vendor>
        <description>pdf-jrasterizer</description>
        <description kind="short">pdf-jrasterizer</description>
        <homepage href=""/>
        <offline-allowed/>
    </information>
  <security>
    <all-permissions/>
  </security>

    <resources>
        <j2se version="1.5+" java-vm-args="-Xmx1024M"/>
        $dependencies
	</resources>
	<application-desc main-class="$mainClass"/>
</jnlp>